body{
    width: 100%;
    height: 100vh;
    
    background-color: rgb(58, 58, 58);
}
#box1{
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}
#box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 335px;
    box-shadow: 10px 10px 10px black;
}
button{
    width: 80px;
    height: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: rgb(66, 65, 65);
    color: white;
}
#equalButton{
    width: 160px;
    background-color: rgb(127, 64, 187);
}
.functionalButtons{
    background-color: rgb(127, 64, 187);
}
#display{
    width: 98%;
    height: 70px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 3rem;
    border: none;
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 5px;
}
.ac{
    width: 160px;
    background-color: rgb(127, 64, 187);
}
